.panel-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffaf92;
}

/* Lado izquierdo */
.panel-menu {
  width: 400px;
  border-right: 2px solid #FF4400;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 68, 0, 0.25);
}

/* Links */
.panel-menu a {
  text-decoration: none;
  width: 100%;
  padding: 20px;
  color: #000000;
  position: relative;
}

.panel-menu .link-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link-wrapper img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.panel-menu a:hover {
  background-color: rgba(255, 68, 0, 0.60);
  color: #FFFFFF;
  transition: 0.3s;
}



.panel-menu a.active {
  color: #FFFFFF;
  background-color: rgba(255, 68, 0);
  font-weight: bold;
}

/* Lado derecho */
.panel-content {
  flex: 1;
  padding: 40px;
}

.logo-img {
  width: 300px;
  height: auto;
  margin: 20px auto;
  flex: wrap;
  content: center;
}

.logout-icon {
  width: 24px;
  height: 24px;
}

.user-info {
  margin-top: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}