<div class="panel-container" [ngClass]="{'dark-mode': theme.darkMode}">
  <nav class="panel-menu">
    <img src="logo_xuxemons.png" alt="Xuxemons Logo" class="logo-img">
    <div class="link-wrapper">
      @for(ruta of rutas; track ruta.label){
      <div class="link-nav">
        <img [src]="theme.darkMode ? 'dark-mode/' + ruta.img : ruta.img" alt="{{ruta.label}} icon">
        <a routerLink="{{ruta.route}}" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: ruta.exact}"
          (mouseenter)="botonInfoHover = true" (mouseleave)="botonInfoHover = false">
          {{ruta.label}}
        </a>
      </div>
      }
    </div>

    <div class="dark-toggle">
      <img [src]="theme.darkMode ? 'dark-mode/whitemode.png' : 'modo_oscuro.png'" alt="modo oscuro icon">
      <span class="dark-text">Mode fosc</span>
      <label class="switch">
        <input type="checkbox" [checked]="theme.darkMode" (change)="theme.toggleDarkMode()">
        <span class="slider"></span>
      </label>
    </div>

    <div class="user-info">
      <div class="user-left">
        <img src="{{pfpValue}}" alt="Usuario" class="user-avatar">
        <p class="user-name">{{displayNameVal}}</p>
      </div>

      <a (click)="logout()">
        <img [src]="theme.darkMode ? 'dark-mode/logout.png' : 'logout.png'" alt="Logout" class="logout-icon">
      </a>
    </div>
  </nav>

  <main class="panel-content">
    <router-outlet />
  </main>
</div>