<div class="panel-container">
  <nav class="panel-menu">
    @for(ruta of rutas; track ruta.label){
    <div class="link-wrapper">
      <img src="{{ruta.img}}" alt="{{ruta.label}} icon">
      <a routerLink="{{ruta.route}}" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: ruta.exact}"
        (mouseenter)="botonInfoHover = true" (mouseleave)="botonInfoHover = false">
        {{ruta.label}}
      </a>
    </div>
    }
  </nav>
  <nav class="user-info">
    <button (click)="logout()">Logout</button>
  </nav>
  <section class="panel-content">
    <router-outlet />
  </section>
</div>