<form [formGroup]="settingsForm" (ngSubmit)="saveSettings()" class="settings-form">

    <!-- Little to Middle -->
    <div class="form-group">
        <label for="littleToMiddle">Pequeño a Mediano:</label>
        <input id="littleToMiddle" type="number" formControlName="littleToMiddle"
            placeholder="Introduce un valor entre 3 y 10" />
        @if(settingsForm.get('littleToMiddle')?.touched) {
        <div class="error">
            {{ getErrorMessage('littleToMiddle') }}
        </div>
        }
    </div>

    <!-- Middle to Big -->
    <div class="form-group">
        <label for="middleToBig">Mediano a Grande:</label>
        <input id="middleToBig" type="number" formControlName="middleToBig"
            placeholder="Introduce un valor entre 5 y 15" />
        @if(settingsForm.get('middleToBig')?.touched) {
        <div class="error">
            {{ getErrorMessage('middleToBig') }}
        </div>
        }
    </div>

    <!-- Daily Xuxes Quantity -->
    <div class="form-group">
        <label for="daylyXuxesQuantity">Cantidad diaria de Xuxes:</label>
        <input id="daylyXuxesQuantity" type="number" formControlName="daylyXuxesQuantity"
            placeholder="Introduce un valor entre 5 y 20" />
        @if(settingsForm.get('daylyXuxesQuantity')?.touched) {
        <div class="error">
            {{ getErrorMessage('daylyXuxesQuantity') }}
        </div>
        }
    </div>

    <!-- Daily Xuxes Time -->
    <div class="form-group">
        <label for="dailyXuxesTime">Hora diaria de Xuxes (HH:mm):</label>
        <input id="dailyXuxesTime" type="text" formControlName="dailyXuxesTime" placeholder="08:00 - 18:30" />
        @if(settingsForm.get('dailyXuxesTime')?.touched) {
        <div class="error">
            {{ getErrorMessage('dailyXuxesTime') }}
        </div>
        }
    </div>

    <!-- Daily Xuxemon Time -->
    <div class="form-group">
        <label for="dailyXuxemonTime">Hora diaria de Xuxemon (HH:mm):</label>
        <input id="dailyXuxemonTime" type="text" formControlName="dailyXuxemonTime" placeholder="08:00 - 18:30" />
        @if(settingsForm.get('dailyXuxemonTime')?.touched) {
        <div class="error">
            {{ getErrorMessage('dailyXuxemonTime') }}
        </div>
        }
    </div>

    <!-- Mensaje de éxito o error -->
    @if(msg) {
    <div class="msg">
        {{ msg }}
    </div>
    }
    
    <button type="submit" [disabled]="settingsForm.invalid">Guardar Configuración</button>

</form>