<div class="initial-container">

  <h1>{{ title }}</h1>
  <p>{{ text }}</p>

  <div class="form-container">
    <form [formGroup]="infoForm" (ngSubmit)="save()">

      <label for="name">Nom:</label>
      <div class="input-wrapper" [ngClass]="{'valid-input': infoForm.get('name')?.valid}">
        <input type="text" id="name" formControlName="name" placeholder="Nom">
        @if (infoForm.get('name')?.valid) {
          <span class="check-mark">✓</span>
        }
      </div>

      <label for="surname">Cognoms:</label>
      <div class="input-wrapper" [ngClass]="{'valid-input': infoForm.get('surname')?.valid}">
        <input type="text" id="surname" formControlName="surname" placeholder="Cognoms">
        @if (infoForm.get('surname')?.valid) {
          <span class="check-mark">✓</span>
        }
      </div>

      <label for="email">Email:</label>
      <div class="input-wrapper" [ngClass]="{'valid-input': infoForm.get('email')?.valid}">
        <input type="email" id="email" formControlName="email" placeholder="Email">
        @if (infoForm.get('email')?.valid) {
          <span class="check-mark">✓</span>
        }
      </div>

      <label class="checkbox-label">
        Alternar tipo imagen
        <input type="checkbox" [checked]="selectPersonalizedPfp" (change)="togglePfpMode()">
      </label>
      <label for="pfp">Foto Perfil:</label>
      @if (selectPersonalizedPfp) {
        <div class="input-wrapper" [ngClass]="{'valid-input': infoForm.get('pfp')?.valid}">
          <input type="text" id="pfp" formControlName="pfp" placeholder="Url foto perfil">
          @if (infoForm.get('pfp')?.valid) {
            <span class="check-mark">✓</span>
          }
        </div>
      } @else {
        <select formControlName="pfp">
          @for (pfp of pfpArray; track pfp.id) {
            <option [value]="pfp.url">{{pfp.label}}</option>
          }
        </select>
      }

      <label for="password">Contrasenya:</label>
      <div class="input-wrapper" [ngClass]="{'valid-input': infoForm.get('password')?.valid}">
        <input type="password" id="password" formControlName="password" placeholder="Nova contrasenya">
        @if (infoForm.get('password')?.valid) {
          <span class="check-mark">✓</span>
        }
      </div>

      <br>

      <button type="submit" [disabled]="infoForm.invalid" [ngClass]="{'disabeled-button': infoForm.invalid}">
        Guardar
      </button>
    </form>

    <p>{{ msg }}</p>
  </div>

</div>

<hr>
@if (!isAdmin) {
  <button (click)="showDeleteDialog = true">Donar-se de baixa</button>
}
<!-- <button (click)="showLogoutDialog = true">Tancar sessió</button> -->
<button (click)="goBack()" [ngClass]="{'active': botonInfoHover}" (mouseenter)="botonInfoHover = true"
  (mouseleave)="botonInfoHover = false">
  Tornar
</button>

<div>
@if(showDeleteDialog){
<div class="delete-dialog-container">
  <p>Estàs segur que vols donar-te de baixa? No podràs tornar a entrar amb aquest usuari.</p>
  <button (click)="confirmDelete()" (click)="logout()" class="btn-confirm-delete">Sí, donar-me de baixa</button>
  <button (click)="showDeleteDialog = false" class="btn-cancel-delete">Cancel·lar</button>
</div>
}
</div>