<div class="motxilla-container">
    <div class="search-wrapper">
        <div class="search-bar">
            <img src="search-icon.png" alt="Icono de búsqueda">
            <input type="text" for="pokemon" placeholder="Cerca un object...">
        </div>
        <div class="info-container"></div>
    </div>
    <div class="object-wrapper">
        <h2>Objectes</h2>
        <div class="object-list">
            <div class="sections-wrapper">
                <button>Tots</button>
                <button>Apilables</button>
                <button>No Apilables</button>
            </div>
            <div class="items">
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
                <div class="item-card">
                    <img src="test-item.png" alt="" class="item-icon">
                    <p class="item-name">Nombre Objeto</p>
                    <p class="amount-item">X12</p>
                </div>
            </div>
        </div>
    </div>
</div>