<section class="motxilla-container">
    <div class="search-wrapper">

        <div class="search-bar">
            <img src="search-icon.webp" alt="Icono de búsqueda">
            <input type="text" for="pokemon" placeholder="Cerca un object..." [formControl]="searchControl">
        </div>

        <div class="info-container">

            <!-- INFO ITEM -->
            @if (activeView === 'items' && selectedSlot) {
            <h2>{{ selectedSlot.item.name }}</h2>
            <img [src]="'items/' + selectedSlot.item.id + '.webp'" [alt]="selectedSlot.item.name" class="item-icon">
            <span class="item-base"></span>

            <div class="item-stats-wrapper">

                <div class="item-stats">
                    <h2>DESCRIPCIÓN</h2>
                    <p>X{{ selectedSlot.quantity }}</p>
                </div>

                <p class="item-description">{{ selectedSlot.item.description }}</p>
            </div>

            <div class="item-actions">
                <button class="delete-item w-100" (click)="deleteItem(selectedSlot.id)"></button>
            </div>

            }

            <!-- INFO USER (ADMIN) -->
            @if (activeView === 'users' && selectedUser) {
            <h2>{{selectedUser.username}}</h2>
            <img [src]="selectedUser.pfp" alt="{{selectedUser.username}}" class="item-icon">
            <span class="item-base"></span>

            <div class="item-stats-wrapper">

                <div class="item-stats">
                    <h2>ID: {{selectedUser.id}}</h2>
                    <p>Rol: {{selectedUser.role}}</p>
                </div>

                <div class="item-actions">
                    <button (click)="openModal()" [disabled]="!selectedUser">Donar Xuxes</button>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="object-wrapper">
        @if(!isAdmin){
        <h2 class="header-h2">Objectes</h2>
        } @else {
        <a class="btn-h2" (click)="setView('items')" [class.active-tab]="activeView === 'items'">
            Objectes
        </a>
        <a class="btn-h2" (click)="setView('users')" [class.active-tab]="activeView === 'users'">
            Usuaris
        </a>
        }
        <div class="object-list">

            <!-- INVENTARIO -->
            @if(activeView === 'items') {
            <div class="sections-wrapper">
                <button (click)="filterItems('all')">Tots</button>
                <button (click)="filterItems('stackable')">Apilables</button>
                <button (click)="filterItems('non-stackable')">No Apilables</button>
            </div>
            <div class="items" role="grid">
                @for (slot of filteredMotxilla; track $index; let i = $index) {
                <div class="item-card" role="gridcell" [ngClass]="{'active': selectedIndex === i}" (click)="selectSlot(slot, i)">
                    <img [src]="'items/' + slot.item.id + '.webp'" [alt]="slot.item.name" class="item-icon">
                    <p class="item-name">{{ slot.item.name }}</p>
                    @if (slot.item.stackable) {
                    <p class="amount-item">X{{ slot.quantity }}</p>
                    } @else {
                    <p class="amount-item">X1</p>
                    }
                </div>
                }
            </div>
            }

            @if(activeView === 'users') {
            <div class="items" role="grid">
                @for(user of users; track user.id){

                <div class="item-card" [class.active]="selectedUser?.id === user.id" (click)="selectUser(user)">
                    <img [src]="user.pfp" [alt]="user.username" class="item-icon">
                    <p class="item-name">{{user.player_id}}</p>
                </div>
                }
            </div>
            }
        </div>
    </div>
</section>

<!-- Modal para añadir items a un usuario desde la vista admin -->
@if (showModal) {
<div class="modal-overlay" (click)="closeModal()">
    <div class="modal" (click)="$event.stopPropagation()">
        <h2>Añadir item a {{ selectedUser?.name }}</h2>

        <div class="modal-items">
            @for (item of availableItems; track item.id) {
            <div class="modal-item-card" [class.active]="selectedItem?.id === item.id"
                (click)="selectedItemOnModal(item)">
                <img [src]="'items/' + item.id + '.webp'" [alt]="item.name" class="item-icon">
                <p class="item-name">{{ item.name }}</p>

                @if (selectedItem?.id === item.id) {
                <div class="quantity-controls" (click)="$event.stopPropagation()">
                    <button (click)="itemQuantity = itemQuantity > 1 ? itemQuantity - 1 : 1">-</button>
                    <span>{{ itemQuantity }}</span>
                    <button (click)="itemQuantity = itemQuantity + 1">+</button>
                </div>
                }
            </div>
            }
        </div>

        <div class="modal-actions">
            <button class="cancel-btn" (click)="closeModal()">Cancelar</button>
            <button class="confirm-btn" [disabled]="!selectedItem" (click)="giveConfirmation()">Confirmar</button>
        </div>
    </div>
</div>
}