<div class="motxilla-container">
    <div class="search-wrapper">
        <div class="search-bar">
            <img src="search-icon.png" alt="Icono de búsqueda">
            <input type="text" for="pokemon" placeholder="Cerca un object..." [formControl]="searchControl">
        </div>
        <div class="info-container">
            @if (selectedSlot) {
            <h2>{{ selectedSlot.item.name }}</h2>
            <img [src]="'items/' + selectedSlot.item.id + '.png'" [alt]="selectedSlot.item.name" class="item-icon">
            <span class="item-base"></span>
            <div class="item-stats-wrapper">
                <div class="item-stats">
                    <h2>DESCRIPCIÓN</h2>
                    <p>X{{ selectedSlot.quantity }}</p>
                </div>
                <p class="item-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum</p>
            </div>
            <div class="item-actions">
                <button class="delete-item"></button>
                <button class="use-item"></button>
            </div>
            }
        </div>
    </div>
    <div class="object-wrapper">
        <h2>Objectes</h2>
        <div class="object-list">
            <div class="sections-wrapper">
                <button (click)="filterItems('all')">Tots</button>
                <button (click)="filterItems('stackable')">Apilables</button>
                <button (click)="filterItems('non-stackable')">No Apilables</button>
            </div>
            <div class="items">
                @for (slot of filteredMotxilla; track $index; let i = $index) {
                <div class="item-card" [ngClass]="{'active': selectedIndex === i}" (click)="selectSlot(slot, i)">
                    <img [src]="'items/' + slot.item.id + '.png'" [alt]="slot.item.name" class="item-icon">
                    <p class="item-name">{{ slot.item.name }}</p>
                    @if (slot.item.stackable) {
                    <p class="amount-item">X{{ slot.quantity }}</p>
                    } @else {
                    <p class="amount-item">X1</p>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</div>