<h1>Registro XUXEMONS</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>

    <label for="player_id">ID:</label>
    <input type="text" id="player_id" formControlName="player_id">
    @if (isFieldInvalid('player_id')) {
    <span>{{ getErrorMessage('player_id') }}</span>
    }
  </div>
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" formControlName="name">
    @if (isFieldInvalid('name')) {
    <span>{{ getErrorMessage('name') }}</span>
    }
  </div>

  <div>
    <label for="surname">Apellido:</label>
    <input type="text" id="surname" formControlName="surname">
    @if (isFieldInvalid('surname')) {
    <span>{{ getErrorMessage('surname') }}</span>
    }
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    @if (isFieldInvalid('email')) {
    <span>{{ getErrorMessage('email') }}</span>
    }
  </div>
  <div>
    <label for="passwd1">Passwd:</label>
    <input type="password" id="passwd1" formControlName="passwd1">
    @if (isFieldInvalid('passwd1')) {
    <span>{{ getErrorMessage('passwd1') }}</span>
    }
    @if (registerForm.hasError('PasswdNoMatch') && registerForm.get('passwd1')?.touched) {
    <span>Las contraseñas no coinciden</span>
    }
  </div>
  <div>
    <label for="passwd2">Confirm Passwd:</label>
    <input type="password" id="passwd2" formControlName="passwd2" [disabled]="!registerForm.get('passwd1')?.value">
    @if (isFieldInvalid('passwd2')) {
    <span>{{ getErrorMessage('passwd2') }}</span>
    }
    @if (registerForm.hasError('PasswdNoMatch') && registerForm.get('passwd2')?.touched) {
    <span>Las contraseñas no coinciden</span>
    }
  </div>

  <button type="submit" [disabled]="registerForm.invalid">
    Submit
  </button>
</form>