:host {
  --bg-container: #FFD9A3; /* fondo principal */
  --bg-search: #FFFFFF; /* fondo del input de búsqueda */
  --border-search: #C1BBBB; /* borde del input/select */
  --bg-select: #C1BBBB; /* fondo del select */
  --bg-card: #E6CCCC; /* fondo de las tarjetas */
  --text-main: #000000; /* texto principal */

  background-color: var(--bg-container);
  color: var(--text-main);
}

:host(.dark-mode){
      --bg-container: #121212; /* fondo principal */
  --bg-search: #1e1e1e; /* fondo del input de búsqueda */
  --border-search: #333333; /* borde del input/select */
  --bg-select: #2a2a2a; /* fondo del select */
  --bg-card: #2e2e2e; /* fondo de las tarjetas */
  --text-main: #ffffff; /* texto principal */

  background-color: var(--bg-container);
  color: var(--text-main);
}
.container {
    padding: 50px;
    background-color: var(--bg-container);
    display: flex;
    flex-direction: column;
    gap: 26px;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

.container .search-wrapper {
    width: 100%;
    background-color: var(--bg-search);
    border-radius: 40px;
    height: 62px;
    min-height: 62px;
    border: 1px solid var(--border-search);
    display: flex;
    align-items: center;
    gap: 20px;

}

.search-wrapper img {
    margin-left: 15px;
    width: 32px;
    height: 32px;
}

.search-wrapper input {
    height: fit-content;
    border: none;
    flex: 1;
}



.search-wrapper input::placeholder {
    font-size: 20px;
}

.search-wrapper input:focus {
    outline: none;
}

.search-wrapper select {
    margin-left: auto;
    margin-right: 20px;
    background-color: var(--bg-select);
    border-radius: 24px;
    padding: 8px;
}

.search-wrapper select:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container .xuxedex-wrapper {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 250px;
    gap: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 0;
    min-height: 0;
    padding-right: 10px;

}

.xuxedex-wrapper .xuxemon-card {
    background-color: var(--bg-card);
    border-radius: 56px;
}