<div class="container">
    <div class="search-wrapper">
        <img src="search-icon.png" alt="Icono de búsqueda">
        <input type="text" for="pokemon" placeholder="Cerca un xuxemon...">
        <select name="" id="elements" for="xuxemons-elements">
            @for (element of elements; track element.id) {
            <option value="{{ element.id }}">{{ element.name }}</option>
            }
        </select>
        <div class="xuxemon-filter">
            <button class="action-btn" (click)="filterXuxemonsByType('all')">Tots</button>
            <button class="action-btn" (click)="filterXuxemonsByType('owned')">Capturat</button>
        </div>
    </div>
    <div class="xuxedex-wrapper">
        @for (xuxemon of filteredXuxemons; track xuxemon.id) {
        <div class="xuxemon-card" [ngClass]="{'owned': xuxemon.owned}">
            @if(!xuxemon.owned) {
                <h2>???</h2>
            } @else {
                <h2>{{ xuxemon.name }}</h2>
            }
            <p class="text-secondary">{{ alterXuxemonId(xuxemon.id) }}</p>
            <img [src]="'xuxemons/' + xuxemon.id + '.png'" [alt]="xuxemon.name">
            <span class="xuxemon-base"></span>
            
        </div>
        }
    </div>
</div>