<div class="admin-container">
    <h2>Gestió d'Usuaris</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Cognoms</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
            @for(user of users; track user.id){
            <tr>
                <td>{{user.player_id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    @if(user.status === 0){
                    <button (click)="restoreUser(user.id)" class="btn-restore">Restablir</button>
                    } @else {
                    <button (click)="deleteUser(user.id)" class="btn-delete">Desactivar</button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>